@font-face {
  font-family: "iconfont"; /* Project id 3584322 */
  src: url('iconfont.woff2?t=1662364568960') format('woff2'),
       url('iconfont.woff?t=1662364568960') format('woff'),
       url('iconfont.ttf?t=1662364568960') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban:before {
  content: "\e625";
}

.icon-shouyinji:before {
  content: "\e605";
}

.icon-pindao:before {
  content: "\e650";
}

.icon-pindaobofang:before {
  content: "\e66e";
}

.icon-icon-test:before {
  content: "\e655";
}

.icon-shouzhankaiqi:before {
  content: "\e638";
}

.icon-APIwangguan:before {
  content: "\e9eb";
}

.icon-API:before {
  content: "\e604";
}

.icon-APIwangguan1:before {
  content: "\e66d";
}

.icon-xiugaimima:before {
  content: "\e67b";
}

.icon-edit-role:before {
  content: "\e60d";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-a-bianzu6:before {
  content: "\e626";
}

.icon-jinpai:before {
  content: "\e630";
}

.icon-jinpai1:before {
  content: "\e8b1";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-github:before {
  content: "\e709";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-exit__easyico:before {
  content: "\e603";
}

.icon-tuichu1:before {
  content: "\e62f";
}

.icon-iconfontgerenzhongxin:before {
  content: "\e645";
}

.icon-fabuwenzhang:before {
  content: "\e670";
}

.icon-fabuxiaoxi:before {
  content: "\e624";
}

.icon-fabu:before {
  content: "\e64f";
}

.icon-zhuce:before {
  content: "\e6b3";
}

.icon-TAzhucedengji:before {
  content: "\e6ff";
}

.icon-yanjing2:before {
  content: "\e6e1";
}

.icon-qita:before {
  content: "\e601";
}

.icon-zengjia:before {
  content: "\e889";
}

.icon-duihao_o:before {
  content: "\eb75";
}

.icon-18huidaodingbu:before {
  content: "\e635";
}

.icon-xinrenzhinan:before {
  content: "\e602";
}

.icon-pinglun4:before {
  content: "\e619";
}

.icon-shoucang-shoucang:before {
  content: "\e607";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-icon:before {
  content: "\e651";
}

.icon-pinglunxiao:before {
  content: "\e8b9";
}

.icon-pinglun:before {
  content: "\e60b";
}

.icon-pinglun1:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\eb26";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-pinglun2:before {
  content: "\e67e";
}

